li {
	list-style: none;
}

ul {
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

#targetDiv {
	width: 50px;
	height: 50px;
	border: 1px solid black;
	margin: 32px 0;
}

.targetDiv4 {
	width: 200px;
	height: 200px;
	border: 1px solid black;
	margin: 32px 0;
}

.task-5 {
	font-family: sans-serif;
	background-color: black;
	width: 180px;
	height: 400px;
	margin: 0 auto;
	border-radius: 48px;
	padding: 0 16px 32px 16px;
	outline: 4px solid #e5d7c0;
	border: 4px solid #523917;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.task-5 input {
	width: 100%;
	background-color: transparent;
	color: white;
	box-sizing: border-box;
	font-size: 40px;
	outline: none;
	border: none;
	text-align: right;
	margin-bottom: 8px;
}

.row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 8px;
	margin-bottom: 8px;
}

.span-2 {
	grid-column: 1 / span 2;
	border-radius: 48px !important;
	aspect-ratio: initial !important;
}

.btn {
	aspect-ratio: 1;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.gray {
	background-color: #a5a5a5;
	color: black;
}

.yellow {
	background-color: #ff9e0b;
	color: white;
}

.black {
	background-color: #333333;
	color: white;
}

.task-6 {
	overflow-x: hidden;
}

.burger-menu {
	width: 20px;
	cursor: pointer;
}

.burger-menu div {
	height: 3px;
	width: 100%;
	background-color: white;
	transition: all 750ms ease;
}

.burger-menu div:not(:last-child) {
	margin-bottom: 4px;
}

.task-6-inner.active .burger-menu div:nth-child(1) {
	translate: 0 7px;
	rotate: -45deg;
}

.task-6-inner.active .burger-menu div:nth-child(2) {
	translate: -14px 0;
	opacity: 0;
}

.task-6-inner.active .burger-menu div:nth-child(3) {
	translate: 0 -7px;
	rotate: 45deg;
}

.task-6-inner {
	font-family: sans-serif;
	color: white;
	background-color: #5c6784;
	padding: 10px;
	width: 260px;
	transform: translateX(-240px);
	transition: all 500ms ease;
}

.task-6-inner.active {
	background-color: #051651;
	transform: translateX(0);
}

.task-6-inner li {
	position: relative;
}

.task-6-inner li a {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 32px 0;
	gap: 16px;
	position: relative;
}

.task-6-inner li i {
	width: 20px;
	display: flex;
	justify-content: center;
	transition: all 250ms ease;
}

.task-6-inner li i:hover {
	box-shadow: 0 0 16px white;
	scale: 0.9;
}

.task-6-inner.active li i {
	opacity: 0;
	display: none;
}

.task-6-inner li h3 {
	opacity: 0;
	width: max-content;
	margin: 0 0 0 auto;
	transition: all 500ms ease;
}

.task-6-inner.active li h3 {
	opacity: 1;
}

.task-6-inner-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.task-6-inner-top h2 {
	margin: 0;
}

/* Task 9 */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalInner {
	background-color: white;
	text-align: center;
	padding: 32px;
}

.modalInner h2 {
	font-size: 24px;
}

.modalInner p {
	font-size: 18px;
}

.modal.sketch {
	animation: sketchModal 500ms linear;
}

.modal.sketch .modalInner {
	animation: sketchInner 500ms linear;
	min-width: 250px;
	min-height: 100px;
}

.modal.sketch .modalInner h2, .modal.sketch .modalInner p {
	animation: sketchText 500ms linear;
} 

.modal.bond {
	animation: bondModal 5s linear;
}

.modal.bond .modalInner {
	animation: bondInner 5s linear;
}

/* .modal.bond .modalInner h2, .modal.bond .modalInner p {
	
} */

@keyframes sketchModal {
	from {
		background-color: white;
	}

	to {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@keyframes sketchInner {
	0% {
		background-color: transparent;
		border-top: 2px solid white;
		border-right: none;
		border-bottom: none;
		border-left: none;
	}

	25% {
		background-color: transparent;
		border-top: 2px solid white;
		border-right: 2px solid white;
		border-bottom: none;
		border-left: none;
	}

	50% {
		background-color: transparent;
		border-top: 2px solid white;
		border-right: 2px solid white;
		border-bottom: 2px solid white;
		border-left: none;
	}

	75% {
		background-color: transparent;
		border-top: 2px solid white;
		border-right: 2px solid white;
		border-bottom: 2px solid white;
		border-left: 2px solid white;
	}

	100% {
		background-color: white;
		border-top: 2px solid white;
		border-right: 2px solid white;
		border-bottom: 2px solid white;
		border-left: 2px solid white;
	}
}

@keyframes sketchText {
	from {
		opacity: 0;
		transform: translateY(-50%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes bondModal {
	0% {
		background-color: rgba(255, 255, 255, 1);
	}

	20% {
		background-color: rgba(0, 0, 0, .5);
	}

	40% {
		background-color: rgba(0, 0, 0, .5);
	}

	60% {
		background-color: rgba(255, 0, 0, .75);
	}

	80% {
		background-color: rgba(255, 0, 0, .75);
	}

	100% {
		background-color: transparent;
	}
}

@keyframes bondInner {
	0% {
		width: 100px;
		height: 100px;
		translate: 100% 0;
		border-radius: 50%;
		opacity: 1;
		rotate: 0;
	}

	20% {
		width: 100px;
		height: 100px;
		translate: 0 0;
		border-radius: 50%;
		opacity: 1;
		rotate: 0;
	}

	40% {
		width: 250px;
		height: 100px;
		translate: 0 0;
		border-radius: initial;
		opacity: 1;
		rotate: 0;
	}

	60% {
		width: 250px;
		height: 150px;
		translate: 0 0;
		border-radius: initial;
		opacity: 0;
		rotate: 0;
	}

	80% {
		width: 250px;
		height: 150px;
		translate: 0 100vh;
		border-radius: initial;
		opacity: 0;
		rotate: 0;
	}

	100% {
		width: 250px;
		height: 150px;
		translate: 0 100vh;
		border-radius: initial;
		opacity: 0;
		rotate: 45deg;
	}
}

.task-11 {
	padding: 32px;
	background-color: rgba(0, 0, 0, 0.05);
}

.task-11 h1 {
	color: darkblue;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.task-11 .select {
	max-width: 500px;
	margin: 0 auto;
}

.task-11 .option {
	background-color: white;
	padding: 0 32px;
	margin-bottom: 4px;
}

.task-11 .optionText {
	max-height: 0;
	overflow: hidden;
	transition: max-height 250ms ease;
}

.task-11 .option p {
	padding: 0 0 32px 0;
	margin: 0;
}

.task-11 .option.active .optionBtn {
	color: darkblue;
}

.task-11 .option.active .optionBtn i {
	rotate: 90deg;
}

.task-11 .option.active .optionText {
	max-height: 200px;
}

.task-11 .optionBtn {
	display: flex;
	align-items: center;
	gap: 16px;
	cursor: pointer;
}

.task-11 .optionBtn i {
	font-weight: 900;
	transition: rotate 250ms ease;
}

.task-11 .optionBtn h3 {
	font-size: 24px;
}
